<h1> An improptu change to your trip ? Let us know !</h1>
 <%= simple_form_for @trip do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
