<div class="container-fluid bg-light">
  <nav class="navbar navbar-reverse bg-light d-flex justify-content-between">
    <button type="button" onclick="javascript:history.back()">Back</button>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Nav1">
    &#9972;
    </button>
    <div></div>
  </nav>
  <nav class="collapse" id="Nav1">
    <div class="container-fluid d-flex justify-content-between">
        <a id="len1" class="clickable" href="/"><i class="fa-solid fa-house"></i></a>
        <a id="len2" class="clickable" href="#">&#9829;</a>
        <a id="len3" class="clickable" href="#">&#9855;</a>
        <a id="len4" class="clickable" href="/users/sign_in"><i class="fa-solid fa-user"></i></a>

    </div>
  </nav>
</div>
