<h1>Practice your favorites</h1>

<h3>What does the following mean in English?</h3>

<% guessphrase = @favorites.sample.phrase_country %>
<%= guessphrase.content %>
<br>
<br>
<h4>Select the write answer</h4>
<% answers = [] %>
<% guessoptions = @phrases.sample(3) %>
<% guessoptions.each do |option| %>
<% answers << option.content %>
<% end %>
<% answers << guessphrase.phrase.content %>
<% randomanswers = answers.shuffle %>
</ul>
<% randomanswers.each do |answer| %>
<li><%= answer %></li>
<% end %>
<ul>

<h3>Play again</h3>

<div class="scp-quizzes-main">
<div class="scp-quizzes-data">
  <h3>1. What is the output of the below c code?</h3>

<input type="radio" id="Fastlearning" name="question1">
<label for="Fastlearning">1. Fastlearning</label><br/>
<input type="radio"  name="question1">
<label>2. learning</label><br/>
<input type="radio" name="question1">
<label>3. learningFast</label> <br/>
<input type="radio" name="question1">
<label>4. Fast</label>
</div>

