<h1>WOW THATS A TITLE</h1>

<div class="favcards-container">
  <% @favorites.each do |favorite| %>
  <div class="favcard">
    <div class="logos-favcard">
      <div class="logo-favcard">
        <i class="fa-solid fa-volume-high logo-favcard"></i>
      </div>
      <div class="logo-favcard">
      <i class="fa-solid fa-trash-can logo-favcard"></i>
      </div>
    </div>
    <div class="content-favcard">
      <div class="phrase-trs-favcard">
        <p>In <strong><%= favorite.phrase_country.country.language %></strong>
        <%= favorite.phrase_country.content %></p>
      </p>
      </div>
      <div class="phrase-favcard">
        <p> actually means
        <%= favorite.phrase_country.phrase.content %>..!</p>
      </div>
    </div>
  </div>
  <% end %>
</div>
