// Specific CSS for your home-page

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}


.background {
  position: fixed;
  top: 0;
  left: 0;
  position: absolute;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  background-image: url("backgrounddark");
  background-size:cover;
  background-repeat: no-repeat;

}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
  position: relative;
  left: 100px;
  right: 200px;
  top: 350px;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.title {
  text-align: center;
  padding: 30px;
  h1 {
    font-family: 'Nerko One', cursive;
    font-size: 50px;
  }
  img {
    width: 200px;
    height: 160px;
  }
}

.subtitle {
  text-align: center;
  position: relative;
  top: 6px;
  width: 300px;
  margin: 0 auto;
  h4 {
    font-size: 28px;
  }
}

  h2 {
    font-size: 40px;
    font-family: 'Nerko One', cursive;

  }

.taubenbutton {
  background-color: #4D94A0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 100px;
}
.taubenbuttonhome {
  background-color: #4D94A0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  border-radius: 100px;
  width: 255px;
  margin: 0 auto;
  margin-top: 100px;
}

.cancelbutton{
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100px;
}
