


// For the trip cards

.card-product {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-left: 20px;
  border-radius: 5px;
  margin-bottom: 25px
}

.card-product img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 13px;
  line-height: 1.4;
  opacity: .7;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 25px;
}

.card-product a {
  text-decoration: none;
}

.containergreeting {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 18px;
  margin-top: 40px;
  padding: 10px;
}

.containerdashboard {
  padding: 20px;
}

.favorite-dashboard {
  padding: 12px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.favorites h4 {
  margin-bottom: 16px;
  padding-left: 28px
}


.favcard .taubenbutton{
  border-radius: 50px;
  text-decoration: none;
  color: white;
  margin: auto;
  height: 100%;
  font-size: 18px;
  padding: 4px
}


.bubble {
  position: relative;
  font-family:'Manrope', sans-serif;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  background: #66BFBF;;
  border-radius: 40px;
  padding: 12px;
  text-align: center;
  color: #000;
  opacity: 90%;
  height: 120px;
  margin: 20px 0px 74px 0px
}

.bubbletop {
  display: flex;
  justify-content: space-between;
  padding: 22px;
  position: relative;
  bottom: 22px;
  right: 8px;
}

.bubblebottom {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 48px;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #66BFBF;
  border-right: 12px solid transparent;
  border-top: 12px solid #66BFBF;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

.speechcontainer {
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.audio {
  font-size: 30px;
  position: relative;
  left: 18px;
}

.language {
  display: flex;
  justify-content: space-between;
}

.allfavorites {
  display: flex;
  justify-content: space-between;
}
