


// For the trip cards

.card-product {
  overflow: hidden;
  height: 190px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 16px
}

.card-product img {
  height: 200px;
  width: 162px;
  object-fit: cover;
  border-radius: 10px 40px 40px 0;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 13px;
  line-height: 1.4;
  opacity: .7;
  margin-top: 8px;
}

.tripcardcontainer {
  margin: 8px;
  margin-bottom: 40px;
  margin-top: 30px;
  margin-left: 0px;
}

.card-product .card-product-infos {
  padding: 10px;
  margin-top: 23px;
  margin-left: 5px;
}

.card-product a {
  text-decoration: none;
}

.containergreeting {
  display: flex;
  justify-content: space-between;
  margin-top: 51px;
  margin-left: 33px;
  margin-right: 33px;
  margin-bottom: 28px;
}

.dashboardgreetings{
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
  margin-bottom: -8px;
  margin-top: 39px;
  margin-left: 0px;
  margin-right: 15px;
}


.favorite-dashboard {
  padding: 12px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.favorites h4 {
  margin-bottom: 16px;
  padding-left: 28px
}


.containerdashboard {
  margin: 22px;
}

.favcard .taubenbutton{
  border-radius: 50px;
  text-decoration: none;
  color: white;
  margin: auto;
  height: 100%;
  font-size: 18px;
  padding: 4px
}

.languagebox{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 8px;
  gap: 10px;
  background: #83BAC3;
  border: 1px solid #83BAC3;
  color: white;
  border-radius: 0px 0px 8px 8px;
  padding-bottom: 2px;
  position: absolute;
  right: 120px;
  top: -2px;
}

.bubble {
  position: relative;
  font-family:'Manrope', sans-serif;
  font-size: 18px;
  line-height: 24px;
  width: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  border-radius: 40px;
  padding: 14px;
  text-align: center;
  color: #000;
  margin-bottom: 50px;
  opacity: 90%;
  height: 120px;
}


.bubbletop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px 0px 0px;
  color: #4D94A0;
  margin-bottom: 8px;
  font-size: 18px;

  a {
  color: #4D94A0
  }
}

.soundicon {
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7px;
  gap: 10px;
  width: 45px;
  height: 45px;
  background: #4D94A0;
  border-radius: 12px 0px 16px 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.soundicon i {
  font-size: 28px;
  left: 0px;
  top: -11px;
  color: white;
}



// TRY

.lighttauben {
  color: #83BAC3;
}

.box1 {
  width: 340px;
  margin: 50px auto;
  border: 2px solid #71c4d2;
  font-size: 18px;
  text-align: center;
  color: black;
  position: relative;
  height: 150px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  font-family:'Manrope', sans-serif;
}

.sb5:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #4D94A0;
  border-right: 10px solid transparent;
  border-top: 10px solid #4D94A0;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 6px;
}


.bubblebottom {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  text-align: left;
  padding-top: 10px
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid white;
  border-right: 12px solid transparent;
  border-top: 12px solid white;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
  filter: drop-shadow(-2px 12px 6px gray);
}

.speechcontainer {
  margin-top: -14px;
  margin-left: -7px;
}

.speechcontainerfav {
  padding: 10px;
  position: relative;
  bottom: 40px;
}

a {
  text-decoration: none;
  color: black;
}

.audio {
  font-size: 30px;
  position: relative;
  left: 18px;
}

.language {
  display: flex;
  justify-content: space-between;
}

.allfavorites {
  display: flex;
  justify-content: space-between;
}
