<div class="navbar">
    <%= link_to :back do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
    <%= link_to new_trip_path do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
    <%= link_to favorites_path do %>
      <i class="fa-solid fa-heart"></i>
    <% end %>
    <%= link_to dashboard_path do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
</div>
