<div class="banner">
  <div class="banner-content">
    <h1>Shake hands all over the world !</h1>
    <p>Translate the words you need</p>
    <%= link_to "Where are you going?", new_trip_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
