.favcards-container {
  display: flex;
  flex-direction: column;

}
.favcard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 22px;
  padding: 8px;
  gap: 2px;
  position: relative;
  width: 100%;
  height: 120px;
  background: #66BFBF;
  border-radius: 20px 20px 0px 20px;
  padding-bottom: 124px;
}


.logos-favcard{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-favcard{
  width: 24.84px;
  height: 24px;
  opacity: 0.85;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.content-favcard {
  word-wrap: break-word;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}


@media (min-width: 100px) and (max-width: 575px) {
  .favcards-container {
    grid-template-columns: 1fr 1fr;
  }
}

.right-favcard {
  text-align: end;
}

.left-favcard {
  padding-right: 16px;
}

.favcard .taubenbutton{
  border-radius: 4px;
  text-decoration: none;
  color: white;
  margin: auto;
  width: 112px;
  font-size: 18px;
  padding: 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.favorite {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

.container-playgame {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  flex-direction: column;
  .taubenbutton {
    margin-left: 5px;
  }
  h4{
    margin-bottom: -8px;
  }
}
.container-playgame a {
  margin: auto;
  margin-bottom: 18px;
  margin-top: 18px;
}
.header-flexbox {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin: 60px;
  h2 {
    font-size: 30px;
  }
  img {
    width: 135px;
    opacity: 100%
  }
}
