body { font-family: sans-serif; }

.scene {
  width: 160px;
  height: 280px;
/*   border: 1px solid #CCC; */
  margin: 40px 0;
  perspective: 600px;
}

.flipcards-container{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    border: red solid 10px;
    align-items: center;
    justify-content: space-between;
  }

  // Smallest device
  @media (min-width: 100px) and (max-width: 575px) {
    .flipcards-container {
      grid-template-columns: 1fr;
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .flipcards-container {
      grid-template-columns: 1fr 1fr;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .flipcards-container {
      grid-template-columns: 1fr 1fr;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .flipcards-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .flipcards-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

.flipcard {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  align-items: center;
  justify-content: center;
}

.flipcard-text{
  word-break: break-word;
  vertical-align: center;
}

.flipcard.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.flipcard__face {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  backface-visibility: hidden;
  align-items: center;
  vertical-align: center;
}

.flipcard__face--front {
  background: crimson;
}

.flipcard__face--back {
  background: slateblue;
  transform: rotateY(180deg);
}
