<%= @category.name %>
<%= @trip.country.name %>


<% @tips.each do |tip| %>
<%= tip.content %>
<% end %>

<div data-controller="flip-phrases">
  <h2>Phrases:</h2>
  <% @phrases.each do |phrase| %>
    <p data-flip-phrases-target="phrase"><%= phrase.content %></p>
  <% end %>
  </div>
