<%= @category.name %>
<%= @trip.country.name %>


<% @tips.each do |tip| %>
<%= tip.content %>
<% end %>

<div data-controller="phrases-cards">
  <h2>Phrases:</h2>
  <% @phrases.each do |phrase| %>
    <p data-movie-card-target="content"><%= phrase.content %></p>
  <% end %>
  </div>
